.footer{
    display: flex;
    background-color: grey;
    justify-content: space-around;
    padding: 50px;
    color: white;
}



@media (max-width: 750px) {
.footer{
    font-size: .6em;
    justify-content: space-between;
    padding: 15px;
}
.footer h2{
    font-size: 2em;
  
}
}