.servicios{
background: url(img/filtro/servv.jpg)no-repeat center center/cover;
color: white;
position: relative;
z-index: 1;
width: 100%;
}

.servicios::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -100px;
    left: 0;
    background-color: rgba(85, 89, 97, 0.904);
    z-index:-1;
 }




.servicios_flex{
    padding: 60px;
    width: 1366px;
    margin: auto;
}

.servicios_img img{
width: 100%;

object-fit: cover;
}
.servicios_img{
width: 100%;
background: url(img/filtro/sx.jpg) center center/cover;
height: 650px;

}

.servicios_flex_master{
    display: flex;
}
.servicios_flex_master_1{
 width: 50%;
}
.servicios_flex_master_2{
   width: 50%;
   text-align: end;
  
}
.servicios_flex_master2{
   display: flex;
 
 }



 .servicios_flex_master2_right{
    text-align: end;
    width: 50%;
 }
 .servicios_flex_master1_left{
    width: 50%;
 }

 .servicios_flex_master_3{
    width: 50%;
 }
 
 .servicios_flex_master_4{
    width: 50%;
 }

 .servicios_flex_master4{
    display: flex;
 }
 .servicios_flex_master4 .servicios_flex_master_2{
    text-align: end;
 }

 .servicios_flex_master3{
    display: flex;
 }

 .renta{
    text-align: center;
 }

 .servicios_flex_master5{
    display: flex;
 }



 @media (max-width: 750px) {
 .servicios_flex_master,
 .servicios_flex_master2,
 .servicios_flex_master3,
 .servicios_flex_master4,
 .servicios_flex_master5{
   width: 100%;
   font-size: .8em;
 

  

}

      


.servicios_img{
    height: 400px;
    
    }
    .servicios_flex{
     padding: 30px;
     width: 100%;
        
     
    }
    .gruas{
        text-align: center;
        width: 100%;
    }
    .renta{
        width: 100%;
        text-align: center;
    }
    .equipos{
        width: 100%;
        font-size: 10px;
        
    }
 }